/* Create two equal columns that floats next to each other */
.i_column {
	position: relative;
    float: left;
    width: 30%;
    padding: 10px;
}

/* Clear floats after the columns */
.i_row:after {
    content: "";
    display: table;
    clear: both;
}